// Regular
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

// Bold
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../font/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}


// Black
@font-face {
    font-family: 'Roboto-Black';
    src: url(../font/Roboto-Black.ttf);
    font-style: normal;
    font-weight: normal;
}