$font-regular: 'Roboto-Regular';
$font-bold: 'Roboto-Bold';
$font-black: 'Roboto-Black';

$primary-color: #D62E6A;// #f53d3d;
$black: #1A1A1A;
$facebook-color: #3d5b96;
$twitter-color:#2aa3ef;
$instagram-color:#262626;
$linkedin-color:#1178b3;

$shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;