@import 'variables';
@import 'font';

html,body{
    font-family: $font-regular;
}
.logo{
    width: 60px;
    @media(max-width: 769px){
        width: 40px;
    }
}
// show menu on hover
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.btn{
    text-transform: capitalize;
}
.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover{
        background-color:darken( $primary-color, 10%);
        border-color: darken( $primary-color, 10%);
    }
}

.btn-secondary{
    background-color:white;
    border-color: white;
    color: $black;

    &:hover{
        background-color:darken( white, 10%);
        border-color: darken(white, 10%);
        color: $black;
    }
}
.avatar{
    width: 15px;
}

.home-header{
    min-height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    background: $primary-color;
    background: linear-gradient(360deg, $primary-color 41%, rgba(0,0,0,1) 100%);

    .big-circle{
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-150px, 20px);
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: transparentize(white, .9);
    }
    .small-circle{
        position: absolute;
        left: 65%;
        bottom: 225px;
        transform: translate(-150px, 20px);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: transparentize(white, .9);
    }

    .home-header-title{
        font-family: $font-black;
        @media(min-width: 769px){
            font-size: 60px;
        }
    }

    .home-header-text{
        font-family: $font-bold;
    }
    .home-header-image{
        // height: 100%;
        width: 470px;
        @media (max-width:679px) {
            width: 250px;
        }
    }
}
.no-decoration{
    text-decoration: none !important;
}
.text-primary{
    color:$primary-color !important;
}
.font-bold{
    font-family: $font-bold;
}
.font-black{
    font-family: $font-black;
}
.cursor{
    cursor: pointer;
}
section{
    margin-bottom: 100px;
}
.section-1{
    iframe{
        width: 100%;
        height: 200px;

        @media(min-width: 769px){
            height: 360px;
        }
    }
}
.section-2{
    .col-lg-4{
        width: 400px;
        .card {
            // height: 200px;
            img{
                margin-bottom: 30px;
            }
            .text{
                margin-bottom: 0 !important;
            }
        }
    }
}

.section-3{
    position:relative;
    background-color: $primary-color;
    color: white;
}

.section-4{
    
    .section-4-number{
        width: 50px;
        height: 50px;
        background: $black;
        color: white;
        border-radius: 100%;
        font-family: $font-black;
        font-size: 30px;
        display: flex;

        span{
            margin:auto;
        }
    }
    .section-4-image{
        width: 100%;

        @media(min-width: 769px){
            width: 450px;
        }
    }
}

.section-5{

    .container{
        position: relative;

        .slick-slide{
           @media(max-width:769px){
                width: 320px !important;
           }
        }
        #prevArrow{
            position: absolute;
            left: -35px;
            top: 50%;
            transform: translateY(-20px);
            @media(max-width: 769px){
                display: none !important;
            }
        }
        #nextArrow{
            position: absolute;
            right: -35px;
            top: 50%;
            transform: translateY(-20px);
            @media(max-width: 769px){
                display: none !important;
            }
        }
    }
    
    .card{
        width: 300px;
        @media(min-width: 769px){
            width: 350px;
        }
        .image-box{
            width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 100%;
            margin-right: 10px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.section-6{
    text-align: center;
    background: $primary-color;
    color: white;
    margin-bottom: 50px;

}

footer{
    .footer-image{
        width: 100%;
    }

    .footer-copyright{
        background: #E5E5E5;
    }

    li{
        margin-bottom: 15px;
    }

    .footer-link{
        text-decoration: none;
        color: $black;
    }
    .footer-blog-list{
        color: white;
        a{
            text-decoration: none;
        }
        .card{
            position: relative;
            background: transparent;
            overflow: hidden;
            color: white;

           
            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
            .card-body{
                position: relative;
                .overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #0000005c;
                    z-index: -1;
                }
    
            }
        }
    }
}